<div class="forget-password">
  <!-- <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>       -->
      <div class="forget-password-form">
        <h2>Forget Password</h2>
        <mat-vertical-stepper [linear]="true" #stepper >
          <mat-step [stepControl]="forgetPasswordForm">
            <form [formGroup]="forgetPasswordForm">
              <ng-template matStepLabel>Fill out your Email</ng-template>
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
              </mat-form-field>
              <!-- error Handling -->
              <div *ngIf="forgetPasswordForm.controls.email.invalid && (forgetPasswordForm.controls.email.dirty || forgetPasswordForm.controls.email.touched)" class="custom-alert">
                
                <div *ngIf="forgetPasswordForm.controls.email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="forgetPasswordForm.controls.email.errors.pattern">
                  Email is incorrect.
                </div>
              </div>          
              <div>
                <button mat-button matStepperNext>Submit</button>
                <a [routerLink]="['/']"> Back to login</a>
              </div>
            </form>
          </mat-step>
          <!-- <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step> -->
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                Click <a [routerLink]="['/']">here</a> to login
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    <!-- </mat-grid-tile>
  </mat-grid-list> -->
</div>