.forget-password{
    background: #3598dc;
    height:100%;
    position: relative;
}
.forget-password-form{
    background-color: white;
    color:#7A7A7A;
    width: 350px;
    text-align: center;
    text-align: center;
    width:350px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.forget-password-form h1{
    color:white;
}
/* .row{
    margin:0px;
} */